@import
	url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

#table, tr, th, td{
	border: 1px solid black;
	padding: 7px;
	text-align: center;
}

body h1 {
	text-align: center;
	margin-top: 30px;
	letter-spacing: .20em;
}

#table {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 10px;
	width: 80vh;
}

#table th {
	background-color: #49525a;
	color: white;
}

#table tr:hover {
	background-color: gray;
	color: white;
	cursor: pointer;
}