@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

body {
    background-image: url("../img/microscopio.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#titulo {
    color: rgb(206, 167, 94);
    letter-spacing: .40em;
    font-size: 60px;
    font-weight: 35px;
    text-align: center;
    margin-top: 28vh;
    text-shadow: 0 0 20px rgba(228, 194, 132, 0.774);
    font-family: 'Courgette', cursive;
}

#servicios {
    font-size: medium;
    display: flex;
    justify-content: space-around;
    margin-top: 12vh;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(245, 245, 245, 0.74);
    height: 25vh;
}

.servicio p {
    margin-top: 30px;
}

#micro, #user, #huella, #manzana, #dna{
    font-size: 60px;
    margin: 2vh;
    margin-top: 55px;
}

.logo {
    font-size: 30px;
}

#registrarse, #iniciarSesion{
    font-size: 25px;
    letter-spacing: .5em;
}

.boton{
    position: relative;
    width: 20%;
    height: 100%;
    text-align: center;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    color:black;
    border-radius: 7px;
}

.boton:hover{
    background-color: white;
    color: orange;
    text-decoration: none;
    transition: all 0.5s ease-in-out;

}




