@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

html {
	height: 100%;
}

#pagina {
	min-height: 100%;
	position: absolute;
	background-image: url("../img/microscopio.jpg");
    background-size: cover;
    width: 100vw;
    height: 100%;
}

main {
	padding-bottom: 50px; /*Valor igual o mayor que el alto del footer*/
}

#titulo {
    color: rgb(206, 167, 94);
    letter-spacing: .40em;
    font-size: 60px;
    font-weight: 35px;
    text-align: center;
    margin-top: 28vh;
    text-shadow: 0 0 20px rgba(228, 194, 132, 0.774);
    font-family: 'Courgette', cursive;
}

#servicios {
    font-size: medium;
    display: flex;
    justify-content: space-around;
    margin-top: 12vh;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(245, 245, 245, 0.74);
    height: 25vh;
}

.servicio p {
    margin-top: 30px;
}

#micro, #user, #huella, #manzana, #dna{
    font-size: 60px;
    margin: 2vh;
    margin-top: 55px;
}

.logo {
    font-size: 30px;
}

#registrarse, #iniciarSesion, #profile, .fa-sign-in-alt{
    font-size: 25px;
    letter-spacing: .5em;
}

.boton {
    position: relative;
    width: 20%;
    height: 100%;
    text-align: center;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    color:black;
    border-radius: 7px;
}

.boton:hover {
    background-color: white;
    color: orange;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

footer {
	background-color: #343A40;
	height: 100px;
	width: 100%;
	position: fixed;
	bottom: 0;
    left: 0;
    text-align: center;
}

.fa-linkedin, .fa-twitter-square, .fa-envelope {
	color: white;
    font-size: 25px;
    margin-right: 5px;
}

#politicas a, #contactos a {
	text-decoration: none;
	color: white;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
}

#politicas {
	list-style:none;
	position: absolute;
	top: 8px;
	bottom: 0;
	left: 65vh;
}

#contactos {
	position: absolute;
	top: 25px;
	bottom: 0;
	right: 70vh;
}

#politicas a:hover, #contactos a:hover{
	color: grey;
}
