@import
	url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	background-color: grey;
	background-image: none;
}

.caja-exterior {
	width: 60vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
}

.caja-exterior h1 {
	font-size: 30px;
	border-bottom: 2px solid orange;
	padding: 5px;
	margin-bottom: 20px;
	letter-spacing: .20em;
}

.caja-texto {
	width: 80%;
	overflow: hidden;
	font-size: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid orange;
}

.caja-texto input {
	border: none;
	outline: none;
	background: none;
}

::placeholder {
	color: white;
	opacity: 1;
}

#caja-intermedia {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.boton {
	margin-top: 30px;
	padding: 3px;
	background: none;
	color: white;
	cursor: pointer;
	border: 1px solid white;
}

.botonEnviar:hover {
	background-color: orange;
}