@charset "UTF-8";

body {
	background-image: none;
}
 
.contenedor {
	width: 100%;
	height: 90%;
	color: black;
}

 #profile-box {
	position: absolute;
	float:left;
	width: 50%;
	height: 100%;
	background-color: grey;
	opacity: 0.5;
	color: black;
}

