<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Su calendario de citas</title>
        <meta charset="utf-8">

        <!-- scheduler -->
        <script src="https://cdn.dhtmlx.com/scheduler/edge/dhtmlxscheduler.js" 
            charset="utf-8"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>      
      	<link href="https://cdn.dhtmlx.com/scheduler/edge/dhtmlxscheduler_material.css" 
            rel="stylesheet" type="text/css" charset="utf-8">
        <style>

            html, body{
                margin:0px;
                padding:0px;
                height:90%;
                overflow:hidden;
            }

        </style>
    </head>
    <body>
        <div id="calendar" class="dhx_cal_container" 
            style='width:100%; height:100%;'>
            <div class="dhx_cal_navline">
                <div class="dhx_cal_prev_button">&nbsp;</div>
                <div class="dhx_cal_next_button">&nbsp;</div>
                <div class="dhx_cal_today_button"></div>
                <div class="dhx_cal_date"></div>
                <div class="dhx_cal_tab" name="day_tab"></div>
                <div class="dhx_cal_tab" name="week_tab"></div>
                <div class="dhx_cal_tab" name="month_tab"></div>
            </div>
            <div class="dhx_cal_header"></div>
            <div class="dhx_cal_data"></div>
        </div>
        
        <script>
	        $( document ).ready(function() {	
				var idUser = [[${user.id}]];
				var events = [];
	            $.ajax({
	            	/*Recupero la informacion de base de datos*/
	                url: 'http://localhost:8080/citas/' + idUser,
	                type: 'GET',
	                dataType: 'JSON',
	                success: function(respuesta) {
	                    scheduler.init('calendar',new Date(2020,0,1),"month");
	                    respuesta.forEach(cita => events.push(cita));
	                    scheduler.parse(events, "json");
	                },
	                error: function() {
	                    console.error("No es posible completar la operación");
	                }
	            });
	        });
        </script>
    </body>
</html>