<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- Los iconos tipo Solid de Fontawesome-->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<link rel="stylesheet" type="text/css" 
	th:href="@{/css/index.css}">
<link rel="stylesheet" type="text/css" 
	th:href="@{/css/login.css}">
</head>
<body>
	<header th:replace="header::header"></header>
	
	<form th:action="@{/createUser}" th:object="${newUser}" method="post">
		<div class="caja-exterior">
			<h1>Registrarse</h1>
			<div id="caja-intermedia">
				<div class="caja-texto">
					<input type="text" 
						placeholder="Nombre de usuario" th:field="*{username}"/>
					<span class="form-text text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
				</div>
				
				<div class="caja-texto">
					<input type="password" 
						placeholder="Contrasena" th:field="*{password}" />
				</div>
				
				<div class="caja-texto">
					<input type="password" 
						placeholder="Confirme contrasenha" th:field="*{password2}" />
				</div>
				
				<div class="caja-texto">
					<input type="text"
						placeholder="Nombre" th:field="*{name}"/>
					<span class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
				</div>
				
				<div class="caja-texto">
					<input type="text"
						placeholder="Primer apellido" th:field="*{firstName}"/>
					<span class="form-text text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
				</div>
				
				<div class="caja-texto">
					<input type="text"
						placeholder="Segundo apellido" th:field="*{secondName}"/>
					<span class="form-text text-danger" th:if="${#fields.hasErrors('secondName')}" th:errors="*{secondName}"></span>
				</div>
				
				<div class="caja-texto">
					<input type="text"
						placeholder="Correo electrónico" th:field="*{email}"/>
					<span class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
				</div>
				
			</div>
			
			<button type="submit" class="boton" name="crearUser">
				<i class="fas fa-sign-in-alt"></i> Crear
			</button>
		</div>
	</form>
	
	<footer th:replace="footer::footer"></footer>
</body>
</html>