<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<footer th:fragment="footer">
		<ul id="politicas">
			<li><a href="#" aria-label="Sobre aviso legal">Aviso legal</a></li> 
			<li><a href="#" aria-label="Sobre nuestra política de privacidad">Política de privacidad</a></li> 
			<li><a href="#" aria-label="Sobre nuestra política de cookies">Política de cookies</a></li>
		</ul>
		<div id="contactos">
			<a href="#"> <i class="fab fa-linkedin" title="Enlace a nuestro perfil de linkedin"></i></a> 
			<a href="#"> <i class="fab fa-twitter-square" title="Enlace a nuestro perfil de twitter"></i></a>
			<a href="#"><i class="far fa-envelope" title="Enlace a nuestro correo"></i>info@labsGalileo.com</a>
		</div>
	</footer>
</body>
</html>