<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<footer th:fragment="footer">
		<ul id="politicas">
			<li><a href="#">Aviso legal</a></li> 
			<li><a href="#">Política de privacidad</a></li> 
			<li><a href="#">Política de cookies</a></li>
		</ul>
		<div id="contactos">
			<a href="#"> <i class="fab fa-linkedin"></i></a> 
			<a href="#"> <i class="fab fa-twitter-square"></i></a>
			<a href="#"><i class="far fa-envelope"></i>info@labsGalileo.com</a>
		</div>
	</footer>
</body>
</html>