<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!--https://www.laboratoriobiosalud.com/-->
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" type="text/css" href="../static/css/index.css"
	th:href="@{/css/index.css}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
<title>Index</title>
</head>
<body>
	<div id="pagina">
		<header>
			<nav class="navbar navbar-expand-md bg-dark navbar-dark">
				<a class="navbar-brand" href="#"><i class="logo fas fa-flask"></i></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#collapsibleNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="collapsibleNavbar">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item"><a class="nav-link" th:href="@{#}">Horario</a>
						</li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false">Contacto</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" th:href="@{#}">Nuestros centros</a> <a
									class="dropdown-item" th:href="@{#}">Formulario de contacto</a>
							</div></li>
					</ul>
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/crearUsuario}"><i class="fas fa-user"
								id="registrarse"></i>Registrarse</a></li>
						<!-- <li class="nav-item">
							<a class="nav-link" th:href="@{/login}">
									<i class="fas fa-sign-in-alt" id="iniciarSesion"></i>
									<span sec:authorize="!isAuthenticated()">Iniciar sesión</span>
									<span sec:authorize="isAuthenticated()">Cerrar sesión</span>
							</a>
						</li> -->
						<li class="nav-item"><a class="nav-link" href="/login"
							sec:authorize="!isAuthenticated()"> <i
								class="fas fa-sign-in-alt"></i>
								Iniciar sesión
						</a> <a class="nav-link" th:href="@{/logout}"
							sec:authorize="isAuthenticated()"> <i
								class="fas fa-sign-in-alt"></i>
							Cerrar sesión
						</a>
							<form th:action="@{/logout}" method="post" hidden="true">
									<input hidden type="submit" value="Cerrar Sesion" />
								</form>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<p id="titulo">Laboratorios Galileo</p>
		<main>
			<div>
				<div id="servicios">
					<a class="boton" href="@{#}">
						<div>
							<i class="fas fa-microscope" id="micro"></i>
							<p>Anatomía patológica</p>
						</div>
					</a> <a class="boton" href="@{#}">
						<div>
							<i class="fas fa-user-md" id="user"></i>
							<p>Análisis clínicos</p>
						</div>
					</a> <a class="boton" href="@{#}">
						<div>
							<i class="fas fa-paw" id="huella"></i>
							<p>Veterinaria</p>
						</div>
					</a> <a class="boton" href="@{#}">
						<div>
							<i class="fas fa-apple-alt" id="manzana"></i>
							<p>Sensibilidad alimentaria</p>
						</div>
					</a> <a class="boton" href="@{#}">
						<div>
							<i class="fas fa-dna" id="dna"></i>
							<p>Análisis genéticos</p>
						</div>
					</a>

				</div>
			</div>
		</main>
	</div>
	<footer>
		<div>
			<a href=""> <i class="fab fa-instagram"></i>
			</a> <a href=""> <i class="fab fa-linkedin"></i>
			</a> <a href=""> <i class="fab fa-twitter-square"></i>
			</a>
		</div>
	</footer>
</body>
</html>