<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Mi primer Login</title>

<!--JQUERY-->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- Los iconos tipo Solid de Fontawesome-->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

<!-- Nuestro css-->
<link rel="stylesheet" type="text/css" 
	th:href="@{/css/index.css}">
<link rel="stylesheet" type="text/css" 
	th:href="@{/css/login.css}">
</head>
<body>
	<header th:replace="index::header"></header>
	
	<form th:action="@{/login}" method="post">
		<div class="caja-exterior">
			<h1>Iniciar sesión</h1>
			<div id="caja-intermedia">
				<div class="caja-texto">
					<input type="text" placeholder="Nombre de usuario" name="username"
						value="">
				</div>

				<div class="caja-texto">
					<input type="password" placeholder="Contraseña" name="password"
						value="">
				</div>
			</div>
			<button class="boton" type="submit" name="enviar">Iniciar
				sesión</button>

		</div>
	</form>
	<div th:if="${param.error}" class="alert alert-danger" role="alert">
		Nombre de usuario o contraseña no son válidos</div>
	<div th:if="${param.logout}" class="alert alert-success" role="alert">
		Has cerrado la sesión</div>
		
	<footer th:replace="index::footer"></footer>
</body>
</html>